 <div class="book">
	<%= image_tag(book.cover_url(:thumb)) if book.cover? %>
	<br />
	<p><%= book.author %></p>
        <p><%= book.title %></p>
        <p><%= book.review %></p>
	<p><%= book.reviewer %></p>
	<div class="book-actions">
          <%= link_to 'Show', book %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Is that ok?' } %>
	</div>
      </div>
