!!! 5
%html
  %head
    %title>Reviews
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        %a.brand{ :href => "/"} MENU
        = semantic_navigation :primary, config: :bootstrap
        %form.navbar-form.navbar-right{ :role => "form"}
          .form-group
            = form_tag books_path, :method => 'get' do
              = text_field_tag :search, params[:search], class:'form-control'
              = submit_tag "Szukaj", class:'btn btn-success' , :name => nil, :onclick => "$( document ).ready($('a.load-more-reviews').remove());"
    .content
      .row  
        = yield
        #footer
          %p Made by Marta Buda
